<div class="custom-card" >
  <div class="container text-center py-5">
    <h2 class="fw-semibold mb-4">Estancias de corta duración</h2>
    <h4>Elige una opción</h4>

    <button class="btn btn-outline-primary mt-4">Visa de turista</button>
    <button class="btn btn-outline-primary mt-4">Visa de trabajo</button>
    <button class="btn btn-outline-primary mt-4">Visa de estudiante</button>
    <button class="btn btn-outline-primary mt-4">Visa de voluntariado</button>
    <button class="btn btn-outline-primary mt-4">Visa de investigación</button>
  </div>
</div>



<!-- 

<button type="button" class="btn btn-secondary">
  <i class="fas fa-arrow-left"></i> Volver
</button> -->

<!-- 
<div class="custom-card">
  <div class="container text-center py-5">
    <img src="../../../../assets/imagen4.svg" alt="Pais" class="country-image-large mb-4">
    
    <h2 class="fw-semibold mb-4">¿De qué país eres?</h2>
    
    <div class="form-group mb-3">
      <select class="form-select custom-select">
        <option *ngFor="let item of listShortStay" [value]="item">
          {{ item.name }}
        </option>
      </select>
    </div>
    
    <button type="button" class="btn" data-bs-toggle="button">Siguiente<i class="fas fa-arrow-right"></i></button>
  </div>
</div> -->