
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dde4f1;
}

.container {
  height: 100vh;
  background-color: #dde4f1; /* Color de fondo */
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.top-section {
  flex: 1 1 40%; /* Para que ocupe un 40% de la altura total */
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  margin: 10px;
}

h4 {
  text-align: center;
  padding: 15px;
}

.faq-image-large {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

button.btn-secondary {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1050;
  background: none;
  border: none;
  color: #6492ff;
  font-size: 1rem;
  cursor: pointer;
}
/****************************************************/





.bottom-section {
  flex: 1 1 60%;
  background-color: #dde4f1;
  display: fixed;
  justify-content: center;
  align-items: flex-start; 
  text-align: start;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}


.accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.custom-accordion-item {
  background-color: #e5dede;
  border: 0px solid #ffffff;
  border-radius: 20px; 
  margin-bottom: 1rem;
  overflow: hidden;
}

.custom-accordion-button {

  background-color: #ffffff;
  color: #6492ff;
  border: none;
  font-weight: 500;
  width: 100%;
  text-align: left;
  border-radius: 8px;
}

.custom-accordion-body {
  padding: 1rem;
  background-color: #ffffff;
  color: #565657;
  border-top: 1px solid #ced4da;
  border-radius: 0 0 8px 8px;
  text-align: left;
}

.accordion-body {
  min-height: 60px;
  max-height: 200px;
  overflow: hidden;
}



/****************************************************/