<div class="container-fluid">
    
    <button (click)="volver()" class="btn btn-secondary">Volver</button> 
    
  <div class="row justify-content-center">

    <div class="custom-card">
      <h1 class="fw-semibold mb-4">Preguntas Frecuentes</h1>

      <div *ngIf="filteredFaqs.length === 0" class="mb-3">
        <p>No hay FAQs disponibles para este tipo de visa.</p>
      </div>

      <div *ngFor="let faq of filteredFaqs" class="faq-item mb-4">
        <h3 class="fw-bold">{{ faq.question }}</h3>
        <p>{{ faq.answer }}</p>
      </div>
    </div>
  </div>
</div>
