
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dde4f1;
}

.container-fluid {
  height: 100vh;
  background-color: #dde4f1; 
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

button.btn-secondary {
  position:absolute;
  top: 70px;
  left: 10px;
  z-index: 1050;
  background: none;
  border: none;
  color: #6492ff;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}

button.btn-secondary:hover {
  text-decoration: underline;
}

.bottom-section {
  flex: 1 1 60%;
  background-color: #dde4f1;
  display: fixed;
  justify-content: center;
  align-items: flex-start; 
  text-align: start;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.accordion-body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.custom-accordion-item {
  background-color: none;
  border: 0px solid;
  border-radius: 20px; 
  margin-bottom: 1rem;
  overflow: hidden;
}

.custom-accordion-button {
  background-color: #ffffff;
  color: #6492ff;
  border: none;
  font-weight: 500;
  width: 100%;
  text-align: left;
  border-radius: 9px;
}

.custom-accordion-body {
  padding: 1rem;
  background-color: #ffffff;
  color: #565657;
  border-top: 1px solid #ced4da;
  border-radius: 0 0 8px 8px;
  text-align: left;
  padding: 2px;
}

.accordion-body {
  min-height: 60px;
  max-height: 200px;
  overflow: hidden;
}
