<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
      <!-- Usamos d-flex para alinear los iconos horizontalmente -->
      <div class="d-flex justify-content-around w-100">
        <a href="#" class="nav-link text-center">
            <i class="fas fa-gavel"></i>
        </a>
        <a href="#" class="nav-link text-center">
            <i class="fas fa-question-circle"></i>
        </a>
        <a href="#" class="nav-link text-center">
            <i class="fas fa-users"></i>
        </a>
      </div>
    </div>
  </nav>