.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #6190ff;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 205px 205px 0 0;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  height: 90vh;
  background-color: white;
}

.country-image-large {
  width: 355px;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

h2 {
  color: #333;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

button.btn-outline-primary {
  margin-top: 12rem;
  border-color: #6190ff;
  color: #6190ff;
  background-color: white;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 35px;
  padding: 0.6rem 2rem;
}

button.btn-secondary {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1050;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1050;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button.btn-secondary:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .country-image-large {
    width: 400px;
  }

  button.btn {
    margin-top: 8rem;
    font-size: 1.2rem;
  }

  .back-button {
    margin-top: 8rem;
    font-size: 1.2rem;
  }

  button.btn-secondary {
    position: fixed;
    top: -100px;
    left: 10px;
    background: none !important;
    border: none;
    cursor: pointer;
  }
}
