body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}

.custom-navbar {
  background-color: #5d8af2 !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}
