body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}


.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #6492FF;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 205px 205px 0 0;
  width: 100%;
  margin: 0 auto; 
  padding: 2rem;
  position: absolute;
  bottom: 0;
  height: 80vh; 
  background-color: white;
  box-shadow: 0 4px 80px rgba(52, 46, 216, 0.4);
}

.country-image-large {
  width: 355px;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

h2 {
  color: #333;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-weight:600;
  font-family: 'Poppins', sans-serif;
}

button.btn-primary {
  margin-top: 12rem; 
  border-color: #6492FF;
  color: #ffffff;
  background-color: #6492FF;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 35px;
  padding: 0.6rem 2rem;
}

button.btn-secondary {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1050;
  background-color: none;
  border: none;
}

.custom-select {
  background-color: #6995fb;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 14px;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-select:hover {
  background-color: #668cdf;
}

/* Ajuste responsive para escritorio */
@media (min-width: 1200px) {
  .country-image-large {
    width: 400px; /* Ajusta según sea necesario */
  }

  button.btn {
    margin-top: 8rem; /* Ajusta según sea necesario */
    font-size: 1.2rem;
  }

  .custom-select {
    display: block;
    margin: 0 auto;
    width: 400px; /* Mantén el ancho que deseas */
    border: none;
    padding: 0.75rem;
    border-radius: 14px;
  }
}
