<div class="container-fluid">
  <div class="custom-card text-center">
      <img src="../../../../assets/imagen4.svg" alt="Pais" class="country-image-large mb-4">
      <h2 class="fw-semibold mb-4">¿De qué país eres?</h2>
      <div class="form-group mb-3">
          
        
        <select class="form-select custom-select">
              <option *ngFor="let item of listCountries" [value]="item">
                  {{ item.name }}
              </option>
        </select>


      </div>
      <button routerLink="/stay" class="btn btn-primary">siguiente</button>
  </div>
</div>

