<div class="container-fluid">
  <div class="custom-card text-center">
      <img src="../../../../assets/imagen4.svg" alt="Pais" class="country-image-large mb-4">
      <h2 class="title mb-4">¿Cuál es tu país de origen?</h2>
      <div class="form-group mb-3">
        
        <select #countries class="form-select custom-select" (change)="setCountry(countries.value)">
          <option value="" disabled selected>Selecciona un país</option>
          <option *ngFor="let item of listCountries" [value]="item.id_country">
              {{ item.name }}
          </option>
      </select>

      </div>
      <button (click)="onClickNext()" class="btn btn-primary">Siguiente</button>
  </div>
</div>

