<div class="custom-card">
  <div class="container text-center py-5">
    <img src="../../../../assets/imagen1.svg" alt="Pais" class="country-image-large mb-4">
    
    <h2 class="fw-semibold mb-4">Estancias de larga duración</h2>
    <h4>Elige una opción</h4>
    
    <button class="btn btn-outline-primary mt-4">Visa no lucrativa</button>
    <button class="btn btn-outline-primary mt-4">Visa de inversionista</button>
    <button class="btn btn-outline-primary mt-4">Reagrupación familiar</button>
    
    <button class="btn btn-outline-primary mt-4">Arraigo social</button>
    <button class="btn btn-outline-primary mt-4">Arraigo laboral</button>
    <button class="btn btn-outline-primary mt-4">Arraigo familiar</button>
    
    <!-- <button type="button" class="btn" data-bs-toggle="button">Siguiente</button>
     -->
  </div>
</div>
