body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
}


.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 30px;
  background-color: white;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

.hero-image {
  max-width: 350px;
  width: 100%;
  margin-bottom: 20px;
}

.title {
  color: #6190ff;
  font-size: 1.5rem;
  margin: 15px;
  transform: translateY(20px);
  animation: slideUp 1.5s ease forwards 0.5s;

}

p{
  font-size: 1rem;
  color: #888888;
  padding: 10px;
  transform: translateY(20px);
  animation: slideUp 1.5s ease forwards 0.5s;
}

.btn-primary {
  background-color: #6190ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 20px;
  transform: translateY(20px);
  animation: slideUp 1.5s ease forwards 0.5s;
}

.btn-primary:hover {
  background-color: #6190ff;
  color: white;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .hero-image {
    max-width: 250px;
  }

  .tetile {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero-image {
    max-width: 200px;
  }

  .tetile {
    font-size: 1.2rem;
  }
}
