




<div class="container-fluid text-center vh-100 d-flex align-items-center justify-content-center">
  <div>
      <img src="/assets/imagen3.svg" alt="hero" class="hero-image mb-4">
      <h1 class="title fw-semibold mb-4">Bienvenidos a Migracheck</h1>
      <div class="form-group mb-3">
        <p class="intro-text animate-text">
          Encuentra toda la información que necesitas sobre procesos migratorios en España, reunida en un solo lugar.
        </p>
      </div>
      <button (click)="goCountry()" class="btn btn-primary">
        Siguiente
      </button>
      
  </div>
</div>
